<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Power Purchase Agreement</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for root_path %>">Home</a>
        </li>
        <li class="active">
            <strong>Agreement</strong>
        </li>
    </ol>
</div>
<div class="col-lg-4">
<div class="title-action">
    <a href="<%= url_for :controller => 'pages', :action => 'invoice_print' %>" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print Agreement </a>
</div>
</div>
        </div>
<div class="row">
<div class="col-lg-8 col-lg-offset-2">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content p-xl">

            <%= render 'pages/contract' %>
          </div>

</div>
</div>

</div>