    <div class="wrapper wrapper-content p-xl">
        <div class="ibox-content p-xl">
          <%= render 'pages/contract' %>
        </div>

    </div>


<% content_for :javascript do %>

<script type="text/javascript">

window.print();

</script>

<% end %>
